	/* Coded with love by Mutiullah Samim */
    body {
        margin: 0;
        padding: 0;
        height: 100%;
        background-image: url(https://cdn5.f-cdn.com/contestentries/1578585/21468461/5d62b49ac544b_thumb900.jpg);
    }
 
    .user_card {
        height: 400px;
        width: 350px;
        margin-top: 160px;
        margin-bottom: auto;
        background: #74aff3	;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        background-image: url(https://cdn5.f-cdn.com/contestentries/1578585/21468461/5d62b49ac544b_thumb900.jpg);

    
    }
    .user_cardReset {
        height: 451px;
        width: 478px;
        margin-top: 160px;
        margin-bottom: auto;
        background: #6c8aac	;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        background-image: url(https://cdn5.f-cdn.com/contestentries/1578585/21468461/5d62b49ac544b_thumb900.jpg);

    }
    .login_btn {
        width: 100%;
        background: #c0392b !important;
        color: white !important;
    }
    .login_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
    .login_container {
        padding: 0 2rem;
    }
    .input-group-text {
        background: #c0392b !important;
        color: white !important;
        border: 0 !important;
        border-radius: 0.25rem 0 0 0.25rem !important;
    }
    .input_user,
    .input_pass:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
    .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
        background-color: #c0392b !important;
    }
    .tileLogin{
        margin-left: 50px;
    }
    .tileLoginReset{
        margin-left: 96px;
    }